<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FIFA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static',
filename='style.css') }}"
    />
  </head>

  <body>
    <nav class="nav-bar">
      <a class="nav-link" href="{{url_for('home')}}"> Home </a>

      <button class="hamburger">☰</button>

      <div class="nav-right">
        <a class="nav-link" href="{{url_for('leaderboard')}}">Leaderboard</a>

        {% if session.get("user_id") %}

        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>

        {% else %}

        <a class="nav-link" href="{{url_for('login')}}">Login</a>

        <a class="nav-link" href="{{url_for('register')}}">Register</a>

        {% endif %}
      </div>
    </nav>

    <div class="mobile-overlay"></div>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}

    <div class="flash-message">{{message}}</div>

    {% endfor %} {% endif %} {% endwith %}

    <main>{% block content %} {% endblock %}</main>

    <script>
      const burger = document.querySelector(".hamburger");

      const menu = document.querySelector(".nav-right");

      const overlay = document.querySelector(".mobile-overlay");

      burger.onclick = function () {
        burger.onclick = function () {
          console.log("clicked");

          menu.classList.toggle("mobile-open");

          overlay.classList.toggle("show");

          console.log(menu.className);

          console.log(overlay.className);

          document.body.style.overflow = menu.classList.contains("mobile-open")
            ? "hidden"
            : "";
        };
      };

      overlay.onclick = function () {
        menu.classList.remove("mobile-open");

        overlay.classList.remove("show");

        document.body.style.overflow = "";
      };
    </script>
  </body>
</html>
