<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FIFA</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static',
filename='style.css') }}"
    />
  </head>

  <body>
    <audio id="bgmusic"></audio>

    <button id="music-btn" style="display: none">▶ Enable Music</button>

    <button id="mute-btn">🔊</button>

    <nav class="nav-bar">
      <a class="nav-link" , href="{{ url_for('home') }}"> FUTBIT </a>

      <a class="nav-link" href="{{ url_for('leaderboard') }}"> LEADERBOARD </a>

      {% if session.get("user_id") %}

      <a class="nav-link" , href="{{url_for('logout')}}"> Logout </a>

      {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}

    <div class="flash-message">{{message}}</div>

    {% endfor %} {% endif %} {% endwith %}

    <main>{% block content %} {% endblock %}</main>

    <script>
      console.log("played");

      const muteBtn = document.getElementById("mute-btn");
      const musicBtn = document.getElementById("music-btn");
      const audio = document.getElementById("bgmusic");

      const songs = [
        "/static/music/love_me_again.mp3",
        "/static/music/worldcup.m4a",
      ];

      let idx = parseInt(localStorage.getItem("songIdx") || 0);

      audio.src = songs[idx];

      audio.addEventListener("loadedmetadata", () => {
        audio.currentTime = parseFloat(localStorage.getItem("songTime") || 0);
      });

      audio.volume = 0.25;

      audio.addEventListener("ended", () => {
        idx = (idx + 1) % songs.length;

        localStorage.setItem(
          "songIdx",

          idx,
        );

        localStorage.setItem(
          "songTime",

          0,
        );

        audio.src = songs[idx];

        audio.play();
      });

      audio.play().catch(() => {
        musicBtn.style.display = "block";
      });

      musicBtn.onclick = () => {
        audio.play();

        musicBtn.style.display = "none";
      };

      muteBtn.onclick = () => {
        audio.muted = !audio.muted;

        muteBtn.textContent = audio.muted ? "🔇" : "🔊";
      };

      window.addEventListener("beforeunload", () => {
        localStorage.setItem(
          "songIdx",

          idx,
        );

        localStorage.setItem(
          "songTime",

          audio.currentTime,
        );
      });
    </script>
  </body>
</html>
