{% extends "base.html" %}

{% block content %}

<div class="auth-card">


<h1>

Register

</h1>



<form method="POST">



<input

type="text"

name="username"

placeholder="Username"

required

>




<input

type="password"

name="password"

placeholder="Password"

required

>



<select

name="student_class"

required

>

{% for i in range(6,13) %}

<option value="{{i}}">

{{i}}

</option>

{% endfor %}

</select>




<select

name="division"

required

>


{% for d in ['A','B','C','D','E','F'] %}


<option value="{{d}}">

{{d}}

</option>


{% endfor %}


</select>




<button

class="auth-btn"

>


Create Account


</button>



</form>



<p>


Already registered?


<a href="{{url_for('login')}}">


Login


</a>



</p>



</div>


{% endblock %}